
a{
    text-decoration: none;
    color:black;
}
.card-img-top{
    height: 200px;
    width: auto;
}
.blog-writer p{
   display: flex;
   align-items: center;
}

.col .card .blog-writer ion-icon{

    color: black;
    font-size: 25px;
    margin-right: 7px;
}
.blog-writer p{
    font-weight: bold;
}